.charactersPage {
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1%;
    justify-content: space-between;

}

form {
    width: 100%;
    position: relative;
    display: flex;
    gap: 1rem;
}

input {
    outline: none;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
    width: 25%;
}

.first {
    padding-left: 2rem;

}

button {
    outline: none;
    position: absolute;
    border: none;
    background: transparent;
    top: 15px;
    left: 6px;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.imageContainer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    margin-bottom: 1.5rem;
    max-width: 50%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem
}

.loadMore {
    cursor: pointer;
    background-color: #F2F9FE;
    color: #2196F3;
    padding: .5rem 2rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    transition: all .5s;
}

.loadMore:hover {
    box-shadow: 0px 3px 5px rgba(0, 255, 255, 0.2), 0px 1px 18px rgba(0, 255, 255, 0.12), 0px 6px 10px rgba(0, 255, 255, 0.14);
}