.header {
    width: 100%;
    padding: 8px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    background: #FFFFFF;
}

.header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
}